[jamf]
# This entire section is Required
url = https://yourinstance.jamfcloud.com
username = yourJamfUsername
password = $ecretJ@mfPassw0rd
# Optional - JAMF rsql filter - see API documentation
# Filter JAMF to only include devices that match the following criteria (eg. general.assetTag==jamfid-*)
# mobile_devices-filter=general.assetTag==jamfid-*
# computers-filter=general.assetTag==jamfid-*

[cache]
# This sets a URL cache timeout, useful for debugging or if you need to repeatedly run this script
# (eg. with filters in a script). Comment to disable caching (recommended).
# expire_after = 3600
# cache_location = /tmp/jamf2snipeit.cache

[snipe-it]
#Required
url = https://FQDN.your.snipe.instance.com
apikey = YOUR-API-KEY-HERE
manufacturer_id = 1
defaultStatus = 2
computer_model_category_id = 2
mobile_model_category_id = 3
# Not Required, uncomment to use
computer_custom_fieldset_id = 1
mobile_custom_fieldset_id = 2
computer_asset_tag_prefix = jamfid-
mobile_asset_tag_prefix = jamfid-m-
default_status_id = 4

# EDIT THESE FIELDS SO THEY CORRESPOND WITH THE CUSTOM FIELD DB COLUMN NAMES IN YOUR SNIPE-IT INSTANCE
[computers-api-mapping]
name = general name | {{ var|upper }}
serial = hardware serialNumber | {{ var|upper }}
asset_tag = hardware assetTag | {{ var|upper }}
_snipeit_mac_address_1 = hardware macAddress | {{ validate_mac(var) }}
_snipeit_ram_2 = hardware totalRamMegabytes
_snipeit_storage_3 = storage disks 0 sizeMegabytes
_snipeit_mac_address_2_5 = hardware altMacAddress
_snipeit_operating_system_8 = operatingSystem name
_snipeit_os_version_9 = operatingSystem version
_snipeit_os_build_10 = operatingSystem build
_snipeit_ip_address_13 = general lastIpAddress
_snipeit_cpu_name_14 = hardware processorType
_snipeit_management_40 = | {{ 'JAMF' }}

[mobile_devices-api-mapping]
name = general name | {{ var|upper }}
serial = hardware serialNumber | {{ var|upper }}
asset_tag = hardware assetTag | {{ var|upper }}
_snipeit_imei_4 = network imei
_snipeit_mac_address_1 = hardware wifiMacAddress
_snipeit_storage_3 = hardware capacityMb
_snipeit_mac_address_2_5 = hardware bluetoothMacAddress
_snipeit_operating_system_8 = deviceType
_snipeit_os_version_9 = general osVersion
_snipeit_os_build_10 = general osBuild
_snipeit_ip_address_13 = general ipAddress
_snipeit_management_40 = | {{ 'JAMF' }}

[user-mapping] # The field from jamf that you want to search Snipe with
mobile_api_field = userAndLocation username
computer_api_field = localUserAccounts 0 username
invalid_users = admin